<div class="row">
    <div class="col-md-6 offset-3">
        <h1 class="text-info">Kjo faqe nuk ekziston!</h1>
        <hr />
        <a class="btn btn-outline-success" asp-controller="BusDrivers" asp-action="Index">Home Page</a>
    </div>
</div>